In [0]:
text = "1\n2\n3\n4\n5\n"
with open("/dbfs/Text.txt", "w") as f:
    f.write(text)

In [0]:
from pyspark import SparkContext
rdd1 = spark.sparkContext.wholeTextFiles("Text.txt",6)
rdd2 = spark.sparkContext.textFile("Text.txt",4)

print(rdd1.collect())
print(rdd2.collect())

print(rdd1.getNumPartitions())
print(rdd2.getNumPartitions())

[('dbfs:/Text.txt', '1\n2\n3\n4\n5\n')]
['1', '2', '3', '4', '5']
1
5

In [0]:
rdd3 = rdd2.repartition(10)
print(rdd3.getNumPartitions())

10

In [0]:
# print(rdd2.getNumPartitions())
rdd4=rdd2.coalesce(4)
print(rdd4.getNumPartitions())

4

In [0]:
friends = {'name':["anish","aastha"],'age':[24,25]}
friend = spark.SparkContext

In [0]:
data1 = (["aastha",12,"gaighat"],["roshan",15,"pokhara"],["anish",20,"dhang"])

In [0]:
df1 = spark.createDataFrame(data=data1)
display(df1)

_1,_2,_3
aastha,12,gaighat
roshan,15,pokhara
anish,20,dhang

In [0]:
columns =["first_name","age","location"]
df2 = spark.createDataFrame(data=data1,schema=columns)
display(df2)

first_name,age,location
aastha,12,gaighat
roshan,15,pokhara
anish,20,dhang

In [0]:
# Create an RDD of tuples
data = sc.parallelize([(1, "one"), (2, "two"), (3, "three")])

# Convert the RDD to a DataFrame
df = data.toDF(["id", "value"])

# Show the DataFrame
df.show()

+---+-----+
| id|value|
+---+-----+
|  1|  one|
|  2|  two|
|  3|three|
+---+-----+

In [0]:
df = spark.read.csv("/FileStore/tables/Iris-1.csv", header=True)
# Show the DataFrame
df.show()

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  9|          4.4|         2.9|          1.4|         0.2|Iris-setosa|
| 10|          4.9|         3.1|          1.5|         0.1|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 12|          4.8|         3.4|          1.6|         0.2|Iris-setosa|
| 13|          4.8|         3.0|          1.4|         0.1|Iris-setosa|
| 14|          4.3|         3.0|          1.1|         0.1|Iris-setosa|
| 15|          5.8|         4.0|          1.2|         0.2|Iris-setosa|
| 16|          5.7|         4.4|          1.5|         0.4|Iris-setosa|
| 17|          5.4|         3.9|          1.3|         0.4|Iris-setosa|
| 18|          5.1|         3.5|          1.4|         0.3|Iris-setosa|
| 19|          5.7|         3.8|          1.7|         0.3|Iris-setosa|
| 20|          5.1|         3.8|          1.5|         0.3|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [0]:
df = spark.read.json("/FileStore/tables/dummydata-2.json")
# Show the DataFrame
df.show()

+---+-------------+----+
|age|         city|name|
+---+-------------+----+
| 30|     New York|John|
| 25|San Francisco|Mary|
| 40|  Los Angeles| Bob|
+---+-------------+----+

In [0]:
import pandas as pd

In [0]:
type(data)

Out[22]: pyspark.rdd.RDD

In [0]:
data_pd =df.toPandas()
data_pd

,age,city,name
0,30,New York,John
1,25,San Francisco,Mary
2,40,Los Angeles,Bob

In [0]:
type(data_pd)

Out[23]: pandas.core.frame.DataFrame

In [0]:
# Task- Create Dataframe and write this to parquet file
from pyspark.sql import SparkSession

# create a SparkSession
spark = SparkSession.builder.appName("Write to Parquet").getOrCreate()

# create a sample DataFrame
data = [("Roshan", 15), ("Aastha", 13), ("Anish", 18)]
df = spark.createDataFrame(data, ["name", "age"])

# write DataFrame to Parquet format
df.write.format("parquet").save("/path/to/parque_file")

In [0]:
#Task- Read the Parquet file, Append the data , Overwrite the data in parquet file

par_df=spark.read.parquet("/path/to/parque_file")
par_df.show()

+------+---+
|  name|age|
+------+---+
|Roshan| 15|
|Aastha| 13|
| Anish| 18|
+------+---+

In [0]:
new_data = [('Alice', 28), ('Bob', 32)]
new_df = spark.createDataFrame(new_data)
df = df.union(new_df)
df.write.mode('append').parquet("/path/to/parque_file")

In [0]:
df.show()

+------+---+
|  name|age|
+------+---+
|Roshan| 15|
|Aastha| 13|
| Anish| 18|
| Alice| 28|
|   Bob| 32|
+------+---+

In [0]:
df.union(new_df).write.format("parquet").mode("overwrite").save("/FileStore/tables/userdata.parquet")

In [0]:
df.show()

+------+---+
|  name|age|
+------+---+
|Roshan| 15|
|Aastha| 13|
| Anish| 18|
| Alice| 28|
|   Bob| 32|
+------+---+

In [0]:
#datypes predefined
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]
 
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([
    StructField("firstname", StringType(), True),
    StructField("middlename", StringType(), True),
    StructField("lastname", StringType(), True),
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])
df = spark.createDataFrame(data, schema)        
display(df)

firstname,middlename,lastname,id,gender,salary
James,,Smith,36636,M,3000
Michael,Rose,,40288,M,4000
Robert,,Williams,42114,M,4000
Maria,Anne,Jones,39192,F,4000
Jen,Mary,Brown,,F,-1

In [0]:
df.dtypes

Out[69]: [('firstname', 'string'),
 ('middlename', 'string'),
 ('lastname', 'string'),
 ('id', 'string'),
 ('gender', 'string'),
 ('salary', 'int')]

In [0]:
#StructType is used to define the schema of a DataFrame as a whole whereas StructField is used to define individual columns of the schema.
#The header parameter is set to True to indicate that the first row of the CSV file contains the column names.
schema = StructType([
    StructField("id", StringType(), True),
    StructField("SepalLengthCm", StringType(), True),
    StructField("SepalWidthCm", StringType(), False),
    StructField("PetalLengthCm", StringType(), True),
    StructField("PetalWidthCm", IntegerType(), True),
    StructField("Species", IntegerType(), True)
    ])
df = spark.read.csv("/FileStore/tables/Iris.csv", header=True, schema=schema)
df.printSchema()
df.show()

root
 |-- id: string (nullable = true)
 |-- SepalLengthCm: string (nullable = true)
 |-- SepalWidthCm: string (nullable = true)
 |-- PetalLengthCm: string (nullable = true)
 |-- PetalWidthCm: integer (nullable = true)
 |-- Species: integer (nullable = true)

+---+-------------+------------+-------------+------------+-------+
| id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|Species|
+---+-------------+------------+-------------+------------+-------+
|  1|          5.1|         3.5|          1.4|        null|   null|
|  2|          4.9|         3.0|          1.4|        null|   null|
|  3|          4.7|         3.2|          1.3|        null|   null|
|  4|          4.6|         3.1|          1.5|        null|   null|
|  5|          5.0|         3.6|          1.4|        null|   null|
|  6|          5.4|         3.9|          1.7|        null|   null|
|  7|          4.6|         3.4|          1.4|        null|   null|
|  8|          5.0|         3.4|          1.5|        null|   null|
|  9|          4.4|         2.9|          1.4|        null|   null|
| 10|          4.9|         3.1|          1.5|        null|   null|
| 11|          5.4|         3.7|          1.5|        null|   null|
| 12|          4.8|         3.4|          1.6|        null|   null|
| 13|          4.8|         3.0|          1.4|        null|   null|
| 14|          4.3|         3.0|          1.1|        null|   null|
| 15|          5.8|         4.0|          1.2|        null|   null|
| 16|          5.7|         4.4|          1.5|        null|   null|
| 17|          5.4|         3.9|          1.3|        null|   null|
| 18|          5.1|         3.5|          1.4|        null|   null|
| 19|          5.7|         3.8|          1.7|        null|   null|
| 20|          5.1|         3.8|          1.5|        null|   null|
+---+-------------+------------+-------------+------------+-------+
only showing top 20 rows

In [0]:
df = spark.read.csv("/FileStore/tables/Iris.csv", header=True)
df.printSchema()
df.show()

root
 |-- Id: string (nullable = true)
 |-- SepalLengthCm: string (nullable = true)
 |-- SepalWidthCm: string (nullable = true)
 |-- PetalLengthCm: string (nullable = true)
 |-- PetalWidthCm: string (nullable = true)
 |-- Species: string (nullable = true)

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
|  4|          4.6|         3.1|          1.5|         0.2|Iris-setosa|
|  5|          5.0|         3.6|          1.4|         0.2|Iris-setosa|
|  6|          5.4|         3.9|          1.7|         0.4|Iris-setosa|
|  7|          4.6|         3.4|          1.4|         0.3|Iris-setosa|
|  8|          5.0|         3.4|          1.5|         0.2|Iris-setosa|
|  9|          4.4|         2.9|          1.4|         0.2|Iris-setosa|
| 10|          4.9|         3.1|          1.5|         0.1|Iris-setosa|
| 11|          5.4|         3.7|          1.5|         0.2|Iris-setosa|
| 12|          4.8|         3.4|          1.6|         0.2|Iris-setosa|
| 13|          4.8|         3.0|          1.4|         0.1|Iris-setosa|
| 14|          4.3|         3.0|          1.1|         0.1|Iris-setosa|
| 15|          5.8|         4.0|          1.2|         0.2|Iris-setosa|
| 16|          5.7|         4.4|          1.5|         0.4|Iris-setosa|
| 17|          5.4|         3.9|          1.3|         0.4|Iris-setosa|
| 18|          5.1|         3.5|          1.4|         0.3|Iris-setosa|
| 19|          5.7|         3.8|          1.7|         0.3|Iris-setosa|
| 20|          5.1|         3.8|          1.5|         0.3|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 20 rows

In [0]:
(("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)

Name – First Name,Middle ,Last name
Id
Gender
Salary

In [0]:
#dataset
data=[(("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)]
# Define the schema for the input data
schema = StructType([
    StructField("name", StructType([
        StructField("first_name", StringType(), True),
        StructField("middle_name", StringType(), True),
        StructField("last_name", StringType(), True),
    ]), True),
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])
df_latest = spark.createDataFrame(data,schema)
df_latest.printSchema()
df_latest.show()

root
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- middle_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+--------------------+-----+------+------+
|                name|   id|gender|salary|
+--------------------+-----+------+------+
|    {James, , Smith}|36636|     M|  3100|
|   {Michael, Rose, }|40288|     M|  4300|
|{Robert, , Williams}|42114|     M|  1400|
|{Maria, Anne, Jones}|39192|     F|  5500|
|  {Jen, Mary, Brown}|     |     F|    -1|
+--------------------+-----+------+------+